# Assignment (Py Module-3) Implementing Concepts of Pandas

In [ ]:
#            -------- P A N D A S SERIES --------

In [ ]:
# Creating a series from an array
import pandas as pd
import numpy as np
arr = np.array(['c','o','p','y','c','a','t'])
ser = pd.Series(arr)
print(ser)

In [ ]:
# Series from list (w/o numpy)
import pandas as pd
list = ['c','o','p','y','c','a','t']
ser = pd.Series(list)
print(ser)

In [ ]:
# Accessing elements or SLICING 
import pandas as pd
import numpy as np
data = np.array(['c','o','p','y','c','a','t'])
ser = pd.Series(data)
print(ser[:4]) # prints C,O,P,Y

In [ ]:
# Using Label (index) to access elements or SLICING
# use argument-unpacking operator i.e. * to create list 
import pandas as pd
import numpy as np
data = np.array(['c','o','p','y','c','a','t'])
ser = pd.Series(data,index=[*range(5,12)]) # index should be equal to length of list
print(ser[9])

In [ ]:
# Subset Selection in pandas 
import pandas as pd  
df = pd.read_csv("Sample_CSV_Files_Data_Sets_for_Testing-Human_Resources-100_Records.csv")  
ser = pd.Series(df['First Name']) 
data = ser.head(50) # prints 50 first names 
print(data)

In [ ]:
# Using .iloc & .loc
import pandas as pd  
df = pd.read_csv("Sample_CSV_Files_Data_Sets_for_Testing-Human_Resources-100_Records.csv")  
ser = pd.Series(df['First Name']) 
data = ser.head(50)  
print(data.loc[27:32]) #select subsets of data
print(data.iloc[24:27+1]) #integer locations to make its selection

In [ ]:
# Adding & Subtracting Series
import pandas as pd  
data1 = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
data2 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'c', 'd'])
x = data1+data2
print(x)
print("**************")
# another method is :
y = data1.add(data2, fill_value=0)
print(y)
k = data1-data2
print(k)
print("**************")
# another method is :
j = data1.sub(data2, fill_value=0)
print(j)

In [ ]:
# Converting Data Types in a Series 
import pandas as pd 
data = pd.read_csv("Sample_CSV_Files_Data_Sets_for_Testing-Human_Resources-100_Records.csv") 
data.dropna(inplace = True) 
before = data.dtypes 
data["Zip"]= data["Zip"].astype(int) 
data["Salary"]= data["Salary"].astype(str) 
after = data.dtypes 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

In [ ]:
#            -------- P A N D A S DATAFRAMES --------

In [ ]:
# Creating a basic dataframe with one column only
import pandas as pd
li = ['Copy', 'Cat', 'is','portal', 'of', 'Dev']
df = pd.DataFrame(li)
print(df)

In [ ]:
# Creating a dataframe from Dictionary
import pandas as pd
data = {'Car':['Ciaz', 'Duster', 'WagonR', 'Santro'],'Age':[5, 7, 10, 4]}
df = pd.DataFrame(data)
print(df)

Curosity Problem â†“

In [ ]:
# Create a Dataframe from two different lists
import pandas as pd
car = ['Ciaz', 'Duster', 'WagonR', 'Santro']
age = [5, 7, 10, 4]
df = pd.DataFrame(list(zip(car, age)),columns =['Car is', 'Age is'])
print(df)

In [ ]:
# Selecting Columns in a Dataframe
import pandas as pd
data = {'Car':['Ciaz', 'Duster', 'WagonR', 'Santro'],
		'Age':[5, 7, 10, 4],
		'Color':['White', 'Brown', 'White', 'Golden']}
df = pd.DataFrame(data)
print(df[['Car', 'Color']])

In [ ]:
# Selecting Rows in a Dataframe using .loc
import pandas as pd
data = pd.read_csv("Sample_CSV_Files_Data_Sets_for_Testing-Human_Resources-100_Records.csv", index_col ="First Name")
y = data.loc["Matthew"]
print(y)

In [ ]:
# Subset Selection in Dataframe
import pandas as pd
data = pd.read_csv("Sample_CSV_Files_Data_Sets_for_Testing-Human_Resources-100_Records.csv")
x = data["First Name"]
print(x) # prints column first name with 100 length

In [ ]:
# Subset Selection in Dataframe using .loc - label of rows and columns
import pandas as pd
data = pd.read_csv("Sample_CSV_Files_Data_Sets_for_Testing-Human_Resources-100_Records.csv", index_col ="First Name")
x = data.loc["Tammy"]
y = data.loc["Matthew"]
print(x, "\n\n\n", y)

In [ ]:
# Indexing a dataframe using .iloc method
import pandas as pd
data = pd.read_csv("Sample_CSV_Files_Data_Sets_for_Testing-Human_Resources-100_Records.csv", index_col ="First Name")
row = data.iloc[99] 
print(row)

In [ ]:
# Using isnull() and notnull() in Dataframe
import pandas as pd
import numpy as np
data = {'Car':['Ciaz', 'Duster', np.nan, 'Santro'],
		'Age':[5, 7, 10, 4],
		'Color':['White', np.nan, 'White', 'Golden']}
df = pd.DataFrame(data)
print(df.isnull())
print('\n')
print(df.notnull())

In [ ]:
# Interpolate() function (Filling null values) is basically used to fill NA values in the dataframe but it uses various 
# interpolation technique to fill the missing values rather than hard-coding the value.
import pandas as pd
df = pd.DataFrame({"A":[12, 4, 5, None, 1],
				"B":[None, 2, 54, 3, None],
				"C":[20, 16, None, 3, 8],
				"D":[14, 3, None, None, 6]})
print(df,'\n')
print(df.interpolate(method ='piecewise_polynomial', limit_direction ='forward'))

In [ ]:
# Filling null values with zeroes using .fillna()
import pandas as pd
import numpy as np
x = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df = pd.DataFrame(x)
print(df,'\n\n',df.fillna(0))

In [ ]:
#  Drop rows with at least one null value using .dropna()
import pandas as pd
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
df = pd.DataFrame(dict) 
print(df, '\n\n', df.dropna())

In [ ]:
# Iterating over rows & columns
import pandas as pd
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
df = pd.DataFrame(dict) 
for i, j in df.iterrows():
    print(i, j)
    print()
columns = list(df)
for k in columns:
    print (df[k][2]) #third element of the column